Package: hugnetscripts-util
Version: %VERSION%
Section: contrib/science
Priority: extra
Architecture: all
Essential: no
Depends: hugnetscripts (= %VERSION% )
Maintainer: Scott Price [prices@hugllc.com]
Provides: hugnetscripts-util
Description:   Utilities for the HUGnet Scripts.
 These are utilities that are not necessary.  In general they are good for testing
 and power users.
