Package: hugnetscripts-server
Version: %VERSION%
Section: contrib/science
Priority: extra
Architecture: all
Essential: no
Depends: hugnetscripts (= %VERSION% )
Recommends: php5-mysqli
Maintainer: Scott Price [prices@hugllc.com]
Provides: hugnetscripts-server
Description: These are the scripts required for a HUGnet Data Server
 This package installs the init scripts to run the correct daemons for a HUGnet
 Data Server.