[Unit]
Description=Job that runs the hugnet_analysis daemon
#Documentation=man:hugnet_analysis(1)
Requires=mysql.service
After=mysql.service

[Service]
Type=simple
Restart=on-failure
Environment=statedir=/var/run/hugnet
ExecStartPre=/bin/mkdir -p ${statedir}
ExecStart=/sbin/getty -n -l /usr/bin/hugnet_analysis 38400 tty11

[Install]
WantedBy=multi-user.target
