Package: hugnetscripts-misc
Version: %VERSION%
Section: hugnet
Priority: optional
Architecture: all
Essential: no
Depends: hugnetscripts (= %VERSION% )
Recommends: php5-mysqli
Maintainer: Scott Price [prices@hugllc.com]
Provides: hugnetscripts-misc
Description:   This is the HUGnet scripts.
 They are the core of the system that does the actual
 monitoring and control of the HUGnet devices.
