Package: hugnetscripts-misc
Version: %VERSION%
Section: contrib/science
Priority: extra
Architecture: all
Essential: no
Depends: hugnetscripts (= %VERSION% )
Recommends: php5-mysqli
Maintainer: Scott Price [prices@hugllc.com]
Provides: hugnetscripts-misc
Description: Misc extra scripts that didn't fit anywhere else
 This is just extra scripts that didn't fit in anywhere else.
