Package: hugnetscripts-datacollector
Version: %VERSION%
Section: contrib/science
Priority: extra
Architecture: all
Essential: no
Depends: hugnetscripts (= %VERSION% )
Recommends: php5-mysqli
Maintainer: Scott Price [prices@hugllc.com]
Provides: hugnetscripts-datacollector
Description: The init scripts required for a datacollector
 This installs the init scripts that are required to run the right things for a
 datacollector.
