Package: hugnetscripts
Version: %VERSION%
Section: contrib/science
Priority: extra
Architecture: all
Essential: no
Depends: php5-sqlite, php5-cli, php5-mysql, hugnetlib (>>0.12.2), hugnetfirmware
Maintainer: Scott Price [prices@hugllc.com]
Provides: hugnetscripts
Breaks: hugnetscripts-common
Description: Common files for the HUGnet Scripts
 These are the common files for HUGnet Scripts.
